{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
  "logo": {
    // "source": "D:/logo/Chue-stran-square-better.png", // for wezterm
    // "type": "iterm",
    // "width": 22,
    // "height": 10,
    // "padding": {
    //   "top": 6,
    //   "left": 3
    // }

    // "source": "D:/logo/Chue-stran-square-better.sixel",
    // "type": "raw", // for support transparent background in sixel
    // "width": 21,
    // "height": 10,
    // "padding": {
    //   "top": 7,
    //   "left": 3
    // }

    // "source": "D:/logo/frieren-rain.jpg",
    // "source": "D:/logo/frieren-rain.sixel", // just for backup
    // "source": "D:/logo/Sagiri3.jpg",
    // "source": "D:/logo/Yamada Asaemon Sagiri1.jpg",
    // "source": "D:/logo/⌗ Sagiri icon (1).jpg",
    // "source": "/home/maachue/Miscellaneous/logo/⌗ Sagiri icon (1).jpg",
    // "type": "kitty",
    // "width": 21,
    // "height": 10,
    // "padding": {
    //   "top": 7,
    //   "left": 3
    // },

    "type": "small", // windows silly small logo
    "padding": {
      "top": 7,
      "left": 3
    }
  },
  "display": {
    "separator": " "
  },
  "modules": [
    "break",
    "break",
    "break",
    // {
    //   "type": "custom",
    //   "format": "\u001b[90m  \u001b[31m  \u001b[32m  \u001b[33m  \u001b[34m  \u001b[35m  \u001b[36m  \u001b[37m"
    // },
    "break",
    {
      "type": "title",
      "keyWidth": 10
    },
    "break",
    {
      "type": "os",
{{ if eq .chezmoi.osRelease.id "fedora" }}
      "key": " ",
{{ else if eq .chezmoi.osRelease.id "arch" }}
      "key": " ",
{{ else }}
      "key": " ",
{{ end }}
      "keyColor": "34" // = color4
    },
    {
      "type": "kernel",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "packages",
{{ if eq .chezmoi.osRelease.id "arch" }}
      "format": "{} (pacman)",
{{ else if eq .chezmoi.osRelease.id "endeavouros" }}
      "format": "{} (pacman)",
{{ else if eq .chezmoi.osRelease.id "fedora" }}
      "format": "{} (dnf)",
{{ else }}
      "format": "{} (choco)",
{{ end }}
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "shell",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "terminal",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "wm",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "cursor",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "terminalfont",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "uptime",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "datetime",
      "format": "{1}-{3}-{11}",
      "key": " ",
      "keyColor": "34"
    },
    "break",
    {
      "type": "custom",
      "format": "\u001b[90m  \u001b[31m  \u001b[32m  \u001b[33m  \u001b[34m  \u001b[35m  \u001b[36m  \u001b[37m"
    },
    "break",
    "break"
  ]
}
