{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
  "logo": {
{{ if eq .chezmoi.os "windows" }}
    // "source": "D:/logo/Chue-stran-square-better.png", // for wezterm
    // "type": "iterm",
    // "width": 22,
    // "height": 10,
    // "padding": {
    //   "top": 6,
    //   "left": 3
    // }

    // "source": "D:/logo/Kusuriya/Chue-stran-square-better.sixel",
    // "type": "raw", // for support transparent background in sixel
    // "width": 21,
    // "height": 10,
    // "padding": {
    //   "top": 7,
    //   "left": 3
    // }

    // "source": "D:/logo/Sagiri/Sagiri-c.jpg",
    "source": "~/Miscellaneous/logo/Sagiri/Sagiri-c.jpg",
    "type": "sixel",
    "width": 21,
    "height": 10,
    "padding": {
      "top": 7,
      "left": 3
    }
{{ else if eq .chezmoi.os "linux" }}
    // "source": "~/Miscellaneous/logo/Sagiri/Sagiri-c.jpg",
    "source": "~/Miscellaneous/logo/Kusuriya/en.en-logo.png",
    "type": "kitty",
    "height": 10,
    "padding": {
      "top": 6,
      "left": 4
    }
    // "source": "~/Miscellaneous/logo/Sagiri/Sagiri-c.jpg",
    // "type": "sixel",
    // "width": 21,
    // "height": 10,
    // "padding": {
    //   "top": 6,
    //   "left": 3
    // }
{{ end }}
    // "type": "small",
    // "padding": {
    //   "top": 7,
    //   "left": 3
    // }
  },
  "display": {
    "separator": " "
  },
  "modules": [
    "break",
    "break",
    "break",
    // {
    //   "type": "custom",
    //   "format": "\u001b[90m  \u001b[31m  \u001b[32m  \u001b[33m  \u001b[34m  \u001b[35m  \u001b[36m  \u001b[37m"
    // },
    "break",
    {
      "type": "title",
      "keyWidth": 10
    },
    "break",
    {
      "type": "os",
{{ if eq .chezmoi.osRelease.id "fedora" }}
      "key": " ",
{{ else if eq .chezmoi.osRelease.id "arch" }}
{{ else if eq .chezmoi.osRelease.id "endeavouros" }}
{{ else if eq .chezmoi.osRelease.id "cachyos" }}
      "key": " ",
{{ else }}
      "key": " ",
{{ end }}
      "keyColor": "34" // = color4
    },
    {
      "type": "kernel",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "packages",
{{ if eq .chezmoi.osRelease.id "arch" }}
{{ else if eq .chezmoi.osRelease.id "cachyos" }}
{{ else if eq .chezmoi.osRelease.id "endeavouros" }}
      "format": "{} (pacman)",
{{ else if eq .chezmoi.osRelease.id "fedora" }}
      "format": "{} (dnf)",
{{ else }}
      "format": "{} (choco)",
{{ end }}
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "shell",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "terminal",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "wm",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "cursor",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "terminalfont",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "uptime",
      "key": " ",
      "keyColor": "34"
    },
    {
      "type": "datetime",
      "format": "{1}-{3}-{11}",
      "key": " ",
      "keyColor": "34"
    },
    "break",
    {
      "type": "custom",
      "format": "\u001b[90m  \u001b[31m  \u001b[32m  \u001b[33m  \u001b[34m  \u001b[35m  \u001b[36m  \u001b[37m"
    },
    "break",
    "break"
  ]
}
