SDDM/

docs/
README.md
.gitignore
scripts/
.wallpaper.bak/

.config/ghostty/config-colors
.config/matugen/colors.css
.config/niri/niri-color.kdl
.config/waybar/colors.css
.config/rofi/options/color.rasi
.config/rofi/options/wallpapers.rasi
.config/niri.old/
.config/eww/colors.scss
