SDDM/

docs/
README.md
.gitignore
.wallpaper.bak/

.config/ghostty/config-colors
.config/matugen/colors.css
.config/niri/niri-colors.kdl
.config/waybar/colors.css
.config/rofi/options/color.rasi
.config/rofi/options/wallpapers.rasi
.config/niri.old/
