{{ if eq .chezmoi.osRelease.id "fedora" }}
# FEDORA
{{ else if eq .chezmoi.osRelease.id "arch" }}
{{ else if eq .chezmoi.osRelease.id "endeavouros"}}
# ARCH LINUX
{{ end }}
# .bashrc

# If not running interactively, don't do anything
if [[ $- != *i* ]]; then
  export EDITOR=nvim
  export VISUAL=nvim

  # User specific environment
  if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
  fi
  export PATH

  # More PATH
  # Cargo
  if ! [[ "$PATH" =~ "$HOME/.cargo/bin" ]]; then
    export PATH="$HOME/.cargo/bin:$PATH"
  fi
fi

{{ if eq .chezmoi.osRelease.id "fedora" }}
# Source global definitions
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi
{{ end }}

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
  PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# More PATH
# Cargo
if ! [[ "$PATH" =~ "$HOME/.cargo/bin" ]]; then
  export PATH="$HOME/.cargo/bin:$PATH"
fi

export EDITOR=nvim
export VISUAL=nvim

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
  for rc in ~/.bashrc.d/*; do
    if [ -f "$rc" ]; then
      . "$rc"
    fi
  done
fi
unset rc

