layout {
    focus-ring {
        width 3
        active-color   "#fcb974"
        inactive-color "#9d8e81"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#fcb974"
        inactive-color "#9d8e81"
        urgent-color   "#ffb4ab"
    }

    tab-indicator {
        active-color   "#fcb974"
        inactive-color "#9d8e81"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#fcb97480"
    }
}
